<ol class="breadcrumb">
  <li class="breadcrumb-item active">
    <a routerLink="/dashboard">Usuarios</a>
  </li>
</ol>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody *ngFor="let i of users">
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.age }}</td>
            <td><button class="btn btn-primary" (click)="details(i.id)"> details </button></td>
        </tr>
    </tbody>
</table>

<hr>

<div class="user-creator">
    <label> {{ nameModel }} </label>
    <div>
        <input [(ngModel)]="nameModel" placeholder="Enter name.." class="form-control">
    </div>
    <label> {{ ageModel }} </label>
    <div>
        <input [(ngModel)]="ageModel" placeholder="Enter age.." class="form-control">
    </div>
    <hr>
    <div>
        <textarea type="textarea" rows="4" cols="20" [(ngModel)]="detailsModel" placeholder="details" class="form-control">
        </textarea>
    </div>

    <br>

    <button class="btn btn-primary btn-md" (click)="createUser()"> Create </button>
</div>